<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    
    <listener>
        <listener-class>com.example.listener.AppEventsListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.example.listener.TimeOutListener</listener-class>
    </listener>
    
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.example.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RequestLogginFilter</filter-name>
        <filter-class>com.example.filters.RequestLoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TimeoutFilter</filter-name>
        <filter-class>com.example.filters.TimeOutFilter</filter-class>
    </filter>
    
    
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RequestLogginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TimeoutFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.example.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.example.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.example.controller.UserController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
